@import "../../../scss/_variables.scss";

.card_details {
    display: none;
}

@media screen and (max-width: 880px) {
    .card_details {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        margin-top: 5px;
        .details_mobile {
            display: flex;
            justify-self: flex-end;
            column-gap: 14px;
            margin-top: -8px;
            &_btn {
                width: 42px;
                height: 42px;
                border: 1px solid $font_black;
                border-radius: 4px;
                transition: all 0.3s ease-in-out;
                &:hover {
                    background-color: $hover-gray;
                }
            }
        }
        .favoriteView {
            user-select: none;
            display: flex;
            align-items: center;
            &_block {
                font-size: 14px;
                font-family: $light-font;
                display: flex;
                margin-right: 18px;
                margin-bottom: 13px;
                img {
                    margin-right: 10px;
                }
            }
        }
    }
}
@media screen and (max-width: 400px) {
    .breadcrumbs {
        margin-left: 4.2vw;
        font-size: 12px;
    }
}
