@import "../../../scss/_variables.scss";

.rsis-container {
    width: 100% !important;
    background-repeat: no-repeat !important;
    background-size: contain !important;
    background-position: center !important;
    display: flex !important;
    border-radius: 10px !important;
    overflow: hidden !important;
    border: 2px solid #e6ecf5 !important;

    justify-content: center !important;
}
@media screen and (max-width: 710px) {
    .breadcrumbs {
        margin-left: 7vw;
    }
}
@media screen and (max-width: 400px) {
    .breadcrumbs {
        margin-left: 4.2vw;
        font-size: 12px;
    }
}
