@import "../../../scss/variables";

.adsButtonBar {
    display: flex;
    align-items: center;
    column-gap: 12px;

    &_sort {
        cursor: pointer;
        border-radius: 5px;
        border: 1px solid $font_black;
        padding: 6px 30px;
        line-height: 2rem;
        font-size: 13px;
        font-family: Rubik-Light;
        transition: all 0.3s ease-in-out;
        display: flex;
        justify-content: center;
        align-items: center;

        &:focus {
            outline: none;
        }
        &:hover {
            background-color: whitesmoke;
        }

        &_value {
            font-family: Rubik-Medium;
            margin-left: 4px;
            white-space: nowrap;
        }
        &_arrow {
            display: block;
            margin-left: 15px;
            transform: rotate(90deg) scaleX(0.7) scaleY(1.1);
        }
    }
    &_searchSave {
        cursor: pointer;
        border-radius: 5px;
        border: 1px solid $font_black;
        padding: 12px 0px;
        padding-left: 18px;
        padding-right: 18px;
        line-height: 2rem;
        font-size: 13px;
        font-family: Rubik-Light;
        display: flex;
        justify-content: space-between;
        align-items: center;
        transition: all 0.3s ease-in-out;
        line-height: 19px;
        white-space: nowrap;
        &:hover {
            background-color: whitesmoke;
        }
        span {
            margin-right: 11px;
        }
    }
}
@media screen and (max-width: 710px) {
    .adsButtonBar {
        width: 100%;
        padding: 0px 5vw;
        justify-content: space-between;
        margin-top: 20px;
        background-color: white;
        padding-top: 12px;

        &_searchSave {
            padding-left: 40px;
            padding-right: 40px;

            &:hover {
                background-color: whitesmoke;
            }
            span {
                margin-right: 11px;
            }
        }
    }
}
@media screen and (max-width: 576px) {
    .adsButtonBar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100vw;
        margin: 0 auto;
        padding: 0px 4vw;
        justify-content: space-between;
        margin-top: 20px;
        background-color: white;
        padding-top: 12px;
        &_sort {
            width: 100%;
            font-size: 14px;
        }
        &_searchSave {
            padding-left: 0px;
            padding-right: 0px;
            padding: 15px 22px;

            &:hover {
                background-color: whitesmoke;
            }
            span {
                margin-right: 11px;
            }
            &_text {
                display: none;
            }
        }
    }
}
@media screen and (max-width: 400px) {
    .adsButtonBar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100vw;
        margin: 0 auto;
        padding: 0px 4vw;
        justify-content: space-between;
        margin-top: 20px;
        background-color: white;
        padding-top: 12px;
        &_sort {
            padding: 6px 4vw;
        }
        &_searchSave {
            padding-left: 0px;
            padding-right: 0px;
            padding: 15px 6vw;

            &:hover {
                background-color: whitesmoke;
            }
            span {
                margin-right: 11px;
            }
            &_text {
                display: none;
            }
        }
    }
}

@media screen and (max-width: 330px) {
    .adsButtonBar {
        &_sort {
            font-size: 12px;
            padding: 6px 3vw;
        }
        &_searchSave {
            padding-left: 0px;
            padding-right: 0px;
            padding: 15px 5vw;

            &:hover {
                background-color: whitesmoke;
            }
            span {
                margin-right: 11px;
            }
            &_text {
                display: none;
            }
        }
    }
}
