@import "../../../scss/_variables.scss";

.details {
    display: flex;
    column-gap: 14px;
    margin-top: -8px;
    &_btn {
        width: 42px;
        height: 42px;
        border: 1px solid $font_black;
        border-radius: 4px;
        transition: all 0.3s ease-in-out;
        &:hover {
            background-color: $hover-gray;
        }
    }
}

@media screen and (max-width: 880px) {
    .details {
        display: none;
    }
}
@media screen and (max-width: 400px) {
    .breadcrumbs {
        margin-left: 4.2vw;
        font-size: 12px;
    }
}
